.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #2a2a2a;
}

.label {
    -fx-text-fill: white;
}

#popup {
    -fx-background-color: #808080;
    -fx-padding: 5px;
}

.error {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #e5504c;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.header1 {
    -fx-padding: 10px;
    -fx-font-size: 48px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.header2 {
    -fx-padding: 10px;
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.subtitle {
    -fx-padding: 10px;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #dfdfdf;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-pref-width: 160px;
}

.button:hover {
    -fx-background-color: #bfdfdf;
}

.button:focused { }

.optionLabel {
    -fx-background-color: #dfdfdf;
    -fx-background-radius: 0;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.optionTextBox {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.blue {
    -fx-background-color: #42a2c6;
}
.green {
    -fx-background-color: #42c64c;
}
.yellow {
    -fx-background-color: #e2e44c;
}
.red {
    -fx-background-color: #e5504c;
}